<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/adm_permissoes.css">
    
    <title>Gerenciar Permissões</title>
</head>


<body>
 <header>
        <h1 id="header-nome-adm">OLÁ, ADMINISTRADOR!</h1>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <hr class="hr_black">
                <a href="/admin">HOME</a>
                <hr id="hr_black">
                <a href="/relatorios">RELATORIOS</a>
                <hr id="hr_black">
                <a href="">HISTORICO</a>
                <hr id="hr_black">
                <a href="/admin/permissoes">PERMISSÕES</a>
                <hr id="hr_black">
              </div>
        <span class="icon_nav_style" onclick="openNav()">&#9776;</span>

        <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </header>

    <main>
        <div class="div_card_branco">            
            <div class="linha">


                <h3 class="nomes_titulo">Nomes</h3>
                <h3 class="nomes_titulo">Status</h3>
                <h3 class="nomes_titulo">Permissões</h3>
            </div>
   
            
        
           
            {% for nome in nome %}
            <form action="/permissoes/{{nome.id_usuario}}" method=["POST","GET"]>
                
                
                <div class="linha">
                    
                    <p class="nomes">          
                        {{nome.nome_usuario}}
                    </p>

                
                  
                    <p class="nomes">{{nome.cat_usu.categoria_usuario}}</p>
                   

                <div class="botoes">


                
                    {%if nome.id_categoria_usuario == 1 %}
                    <label class="switch">
                        <input type="checkbox" name="checkBox4" id="checkBox4" onclick="this.form.submit()"  >
                        <span class="slider round" ></span>
                       
                      </label>
                    {%else%}
                    <label class="switch">
                        <input type="checkbox" name="checkBox1" id="checkBox1" onclick="this.form.submit()" checked> 
                        <span class="slider round"></span>
                        
                      </label>
                    {%endif%}
                    
                </div>

                


                </div>
                <hr class="padraohr">

            </form>
           {% endfor %}


    </main>
    
    <footer>
        <p>DESENVOLVIDO POR WHATSCODE</p>
    </footer>
</body>
</html>