<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home_usuario.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>Usúario</title>

    </head>
    <body>

        <header>
            <div>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <hr id="hr_black">
                    <a href="#">Home</a>
                    <hr id="hr_black">
                    <a href="#">Nova Solicitação</a>
                    <hr id="hr_black">
                    <a href="#">Histórico</a>
                    <hr id="hr_black">
                    <a href="#">Sair</a>
                    <hr id="hr_black">
                  </div>
            </div>
    
                <span class="icon_nav_style" onclick="openNav()">&#9776;</span>
    
                <script>
                    function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    }
    
                    function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
    
        </header>

        <main>
            <div class="linha_cinza">
                <p class="ola">Olá, usuário!</p>
                <p class="ajuda">Precisa de ajuda?</p>
                <p class="pratica">Solicite um serviço de TI de forma rápida e prática.</p>
            </div>        

            <div class="container-fluid">
                <div class="servico">
                    <p> Serviços:</p>
                </div>
            </div>

            <div class="container-fluid" id="teste">
                    <div class="row">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4">
                            <div class="carda">
                                <a href="/src/templates/home_usuario.html">
                                    <div class="a"><h2 class="solicite">Solicite um novo serviço</h2></div>
                                    <div class="b"><img class="image" src="../static/img/aviao.svg"/></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="carda acompanhe">
                                <a href="/src/templates/home_usuario.html">
                                    <div class="a"><h2 class="acompanhe">Acompanhe suas solicitações</h2></div>
                                    <div class="b"><img class="image" src="../static/img/soli.svg"/></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-2"></div>
                    </div>
            </div>
        </main>

        <footer class="footer">
            <hr class="linha-footer">
            <p class="footer-titulo">DESENVOLVIDO POR WHATSCODE</p>
        </footer>

    </body>

</html>