<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../static/css/relatorios.css">
   <link rel="stylesheet" href="../static/css/menu.css">

   <script src="../static/js/menu.js"></script>
   <script src="../static/js/graficos.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

   <title>Relatórios - especificados</title>
</head>

<body>
   <header>
      <h1 id="header-nome-usuario"></h1>
      <div id="mySidenav" class="sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <hr class="hr_black">
         <a href="/admin">HOME</a>
         <hr id="hr_black">
         <a href="/relatorios">RELATORIOS</a>
         <hr id="hr_black">
         <a href="">HISTORICO</a>
         <hr id="hr_black">
         <a href="/admin/permissoes">PERMISSÕES</a>
         <hr id="hr_black">
      </div>
      <span class="icon_nav_style" onclick="openNav()">&#9776;</span>
   </header>


   <h1 class="titulo">Relatório dos Chamados Abertos e Fechados da Semana</h1>
   <form action="/relatorios/especificados" method="POST">
      <p style="color:white">Escolha um período de: </p>
      <input onchange="StartFilterData(this)" type="date" name="data_inicio" id="data_inicio">
      <p style="color:white">à</p>
      <input onchange="EndFilterData(this)" type="date" name="data_fim" id="data_fim">
      <button type="submit" name="botaoFiltroDinamico">Filtrar</button>
   </form>

   <div class="grafico-pie">
      <canvas id="grafico-especifico"></canvas>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
   <script
      src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

   <script>
      const data_inicio = '{{ data_inicio }}';
      const data_fim = '{{ data_fim }}';
      const lista_datas_abertas = '{{data_solicitacoes_abertas }}';
      const lista_quantidade_abertas = '{{quantidade_solicitacoes_abertas}}';
      const lista_quantidade_fechadas = '{{quantidade_solicitacoes_fechadas}}';
      const lista_datas_fechadas = '{{data_solicitacoes_fechadas}}';
      function StartFilterData(date) {
         const startdate = new Date(date.value)
         myChart1.config.options.scales.x.min = startdate.setHours(0, 0, 0, 0)
         myChart1.update()
      }
      function EndFilterData(date) {
         const endDate = new Date(date.value)
         myChart1.config.options.scales.x.max = endDate.setHours(0, 0, 0, 0)
         myChart1.update()
      }
      graficoDinamico(data_inicio, data_fim, lista_datas_abertas, lista_quantidade_abertas, lista_quantidade_fechadas, lista_datas_fechadas);
   </script>
</body>

</html>