<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/relatorios.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 id="header-nome-usuario"></h1>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <hr class="hr_black">
            <a href="/admin">HOME</a>
            <hr id="hr_black">
            <a href="/relatorios">RELATORIOS</a>
            <hr id="hr_black">
            <a href="">HISTORICO</a>
            <hr id="hr_black">
            <a href="/admin/permissoes">PERMISSÕES</a>
            <hr id="hr_black">
        </div>
        <span class="icon_nav_style" onclick="openNav()">&#9776;</span>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "300px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </header>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

    <h1 class="titulo">Relatório dos Chamados Abertos e Fechados do dia</h1>

    <div class="grafico-avaliacoes">
        <canvas id="grafico"></canvas>
    </div>
    <script>
    const ctx = document.getElementById('grafico').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Abertos', 'Fechados'],
            datasets: [
            {
                label: 'Chamados',
                data: ['{{res1}}', '{{res2}}'],
                backgroundColor: ['#6CEC90', '#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 7,
                tension: 0.1
            }]
        },    
    });
    </script>


    <h1 class="titulo">Relatório dos Chamados Abertos e Fechados dos últimos 7 dias</h1>

    <div class="grafico-avaliacoes">
        <canvas id="grafico7"></canvas>
    </div>
    <script>
    const ctx7 = document.getElementById('grafico7').getContext('2d');
    const myChart7 = new Chart(ctx7, {
        type: 'pie',
        data: {
            labels: ['Abertos', 'Fechados'],
            datasets: [
            {
                label: 'Chamados',
                data: ['{{res3}}', '{{res4}}'],
                backgroundColor: ['#6CEC90', '#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 7,
                tension: 0.1
            }]
        },    
    });
    </script>


    <h1 class="titulo">Relatório dos Chamados Abertos e Fechados dos últimos 15 Dias</h1>

    <div class="grafico-avaliacoes">
        <canvas id="grafico2"></canvas>
    </div>
    <script>
    const ctx2 = document.getElementById('grafico2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Abertos', 'Fechados'],
            datasets: [
            {
                label: 'Chamados',
                data: ['{{res5}}', '{{res6}}'],
                backgroundColor: ['#6CEC90', '#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 7,
                tension: 0.1
            }],
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 100
                }
            }
        }       
        }
    });
    </script>





    <h1 class="titulo">Relatório dos Chamados Abertos e Fechados dos últimos 30 Dias</h1>

    <div class="grafico-avaliacoes">
        <canvas id="grafico3"></canvas>
    </div>
    <script>
    const ctx3 = document.getElementById('grafico3').getContext('2d');
    const myChart3 = new Chart(ctx3, {
         type: 'pie',
        data: {
            labels: ['Abertos', 'Fechados'],
            datasets: [
            {
                label: 'Chamados',
                data: ['{{res7}}', '{{res8}}'],
                backgroundColor: ['#6CEC90', '#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 7,
                tension: 0.1
            }],
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 100
                }
            }
        }       
        }
    });
    </script>




        
    <h1 class="titulo">Relatório dos Chamados Abertos e Fechados da Semana</h1>
    <form action="/relatorios">
        <input type="date" name="filtro"> 
        <button type="submit">Filtrar</button>
    </form>


    <div class="grafico">
        <canvas id="grafico1"></canvas>
    </div>
    <script>
    const ctx1 = document.getElementById('grafico1').getContext('2d');
    const myChart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            datasets: [
            {
                label: 'Chamados Abertos',
                data: [23, 31, 56, 76, 54, 74, 21],
                backgroundColor: ['#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 1
            },
            {
                label: 'Chamados Fechados',
                data: [12, 54, 34, 87, 56, 43, 23],
                backgroundColor: ['#6CEC90'],
                borderColor: ['#292A2F'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    min: 0,
                    max: 100
                }
            }
        }       
    });
    </script>


    <h1 class="titulo">Relatório das Avaliações Gerais do Sistema</h1>

    <div class="grafico-avaliacoes">
        <canvas id="grafico4"></canvas>
    </div>
    <script>
    const ctx4 = document.getElementById('grafico4').getContext('2d');
    const myChart4 = new Chart(ctx4, {
        type: 'pie',
        data: {
            labels: ['Otimo', 'Bom', 'Regular', 'Péssimo'],
            datasets: [
            {
                label: 'Avaliações',
                data: ['{{ger4}}', '{{ger3}}', '{{ger2}}', '{{ger1}}'],
                backgroundColor: ['#6CEC90', '#dbaf20', '#C67020', '#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 7,
                tension: 0.1
            }]
        },    
    });
    </script>
    




    <h1 class="titulo">Relatório das Avaliações do (nome do executor)</h1>

    <div class="grafico-avaliacoes">
        <canvas id="grafico5"></canvas>
    </div>
    <script>
    const ctx5 = document.getElementById('grafico5').getContext('2d');
    const myChart5 = new Chart(ctx5, {
        type: 'pie',
        data: {
            labels: ['Otimo', 'Bom', 'Regular', 'Péssimo'],
            datasets: [
            {
                label: 'Avaliações',
                data: [23, 31, 56, 21],
                backgroundColor: ['#6CEC90', '#dbaf20', '#C67020', '#FF4343'],
                borderColor: ['#292A2F'],
                borderWidth: 7,
                tension: 0.1
            }]
        },    
    });
    </script>

    <section class="relatorio_primeiro">
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Total de solicitações</th>
                        <th>Chamados abertos</th>
                        <th>Chamados fechados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div class="container segundo">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Operador</th>
                        <th>Péssimo</th>
                        <th>Regular</th>
                        <th>Bom</th>
                        <th>Ótimo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div> -->

        <div class="container segundo">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Péssimo</th>
                        <th>Regular</th>
                        <th>Bom</th>
                        <th>Ótimo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>                           
                    </tr>
                </tbody>
            </table>
        </div>
    </section>



</body>
</html>