<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/resposta-executor.css">
    <title>Resposta</title>
</head>
<body>
    <!--Cabecalho-->
    <header class="topo">
        <h1 class="topo-texto">NOME DO EXECUTOR</h1>
    <div class="topo-botao">
        <button class="topo-botao-menu"><img src="../static/img/icone-menu.png" alt="botao menu"></button>
        <div class="topo-menu-expandido ">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
        </div>
    </div>
    </header>

    <!--Principal-->
    <main class="geral">
        <form class="form">

            <section class="nome-principal">
                    <p class="titulo">Nome:</p>
                    <input class="caixa-texto-nome">
            </section>

            <section class="desc-principal">
                <div>
                    <p class="titulo">Descrição do pedido:</p>
                    <textarea class="caixa-texto-desc"></textarea>
                </div>
                <div>
                    <p class="titulo">Aquivos anexados:</p>
                </div>
            </section>

            <section class="solucao-principal">
                <p class="titulo">Solução do problema:</p>
                <textarea class="caixa-texto-solucao" placeholder="Digite aqui..."></textarea>
            </section>

            <input class="botao" type="submit" value="Enviar">

        </form>
    </main>
    
    <footer class="footer">
        <hr class="linha-footer">
        <p>DESENVOLVIDO POR WHATSCODE</p>
    </footer>
</body>
</html>