<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/resposta-executor.css">
    <title>Resposta</title>
</head>
<body>
    <!--Cabecalho-->
    <header class="topo">
        <h1 class="topo-texto">NOME DO EXECUTOR</h1>
    <div class="topo-botao">
        <button class="topo-botao-menu"><img src="img/icone-menu.png" alt="botao menu"></button>
        <div class="topo-menu-expandido ">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
        </div>
    </div>
    </header>

    <!--Principal-->
    <main class="conteudo-principal">

    <div class="caixa-nome">
        <p>Nome:</p>
        <textarea></textarea>
    </div>

    <section class="conteudo-secundario">
        <div class="caixa-desc">
            <p>Descrição do pedido:</p>
            <textarea></textarea>
        </div>

        <div class="caixa=">
            <p>Solução do problema:</p>
            <textarea></textarea>
        </div>
    </section>

    </main>

    <footer class="footer">
        <hr class="linha-footer">
        <p>DESENVOLVIDO POR WHATSCODE</p>
    </footer>
</body>
</html>