<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tela-cadastro.css">
    <title>Cadastro</title>
</head>
<body>

    <header class="cabecalho">
        <p class="titulo">Crie sua conta</p>
        <hr class="linha">
    </header>

    <form class="formgeral" action="/cadastrando" method="POST">
        <main class="geral">
            <section class="section">
                <input class="caixa-texto" placeholder="Digite seu nome" name="name">
                <input class="caixa-texto" placeholder="Digite seu sobrenome" name="surname">
            </section>
            <section class="section">
                <input class="caixa-texto" placeholder="Digite seu e-mail" name="email">
                <input class="caixa-texto" placeholder="Confirme seu e-mail" name="emailConfirmation">
            </section>
            <section class="section">
                <input class="caixa-texto" type="password" placeholder="Digite uma senha" name="password">
                <input class="caixa-texto" type="password" placeholder="Confirme sua senha" name="passwordConfirmation">
            </section>

        </main>

        <label class="autorizacao-enviar">
            <div class="div-autorizacao">
                <input class="autorizacao" type="checkbox" value="check" name="checkboxData"> Eu autorizo o armazenamento destes dados no sistema *
            </div>
            <div class="div-enviar" >
                <input class="botao" type="submit" value="submit">
            </div>
        </label>
    </form>

    <footer>
        <hr class="linha-footer">
    </footer>
</body>
</html>