<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/executor-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/estilo-usuario-historico.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>Usuário - Histórico</title>
</head>
<body>
    <header>
        <h1 id="header-nome-usuario">{% if user[0] == 3 %}Meu {% endif %}Histórico</h1>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            {% if user[0] == 3 %}                
                <hr id="hr_black">
                <a href="/admin">HOME</a>
                <hr id="hr_black">
                <details>
                    <summary>
                    RELATÓRIOS
                    </summary>
                    <a href="/relatorios/instantaneos">INSTANTÂNEO</a>
                    <a href="/relatorios/especificados">ESPECIFICADO</a>
                    <a href="/relatorios/avaliacoes">AVALIAÇÕES</a>
                </details>
                <hr id="hr_black">
                <a href="/admin/historico">HISTÓRICO GERAL</a>
                <hr id="hr_black">
                <a href="/admin/permissoes">PERMISSÕES</a>
            {% elif user[0] == 1 %}
                <a href="/usuario">HOME</a>
            {% endif %}
            <hr id="hr_black">
            {% if user[0] == 2 or user[0] == 3 %}
                <a href="/demanda">MINHAS DEMANDAS</a>
                <hr id="hr_black">
            {% endif %}            
            <a href="/nova-solicitacao">NOVA SOLICITAÇÃO</a>
            <hr id="hr_black">
            <a href="/sair">SAIR</a>
            <hr id="hr_black">
        </div>
        <span class="icon_nav_style" onclick="openNav()">&#9776;</span>

        <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </header>
    <main>
        <section class="pesquisa">
            <form id="pesquisa-campo" action="" method="get" >
                <input type="text" name="search" id="busca" placeholder="TIPO DE SERVIÇO" required>
                <button class="pesquisa-lupa" type="submit"><img id="pesquisa-img" src="../static/img/lupa-arredondada.svg" alt="icone menu"></button>
            </form>
        </section>
        
        <div class="chamados"> 
            <ul class="chamados-lista" type="none">
                {% for lista in listas %}
                <li class="chamados-itens">
                    <details>
                        <summary> {{ lista.data_abertura.strftime('%d/%m/%Y ') }} - {{ lista.cat.categoria_solicitacao}}</summary>
                        <div class="chamados-itens-conteudo">
                            <h4>Descrição</h4>
                            <br>
                            <p >
                                {{ lista.descricao_solicitacao}}
                            </p>
                            <br>
                            <h4>Resolução:</h4>
                            {% if lista.resposta_solicitacao == None %}
                                <br>
                                <p style="color: #dbaf20;">
                                    Solicitação em andamento, por gentileza, aguarde!
                                </p>
                            {% else %}
                                <br>
                                    <p>
                                    {{ lista.resposta_solicitacao}}
                                    </p>
                                <div class="formavaliacao">
                                {% if lista.fk_id_avaliacao == None %}
                                    <form class="formavaliacao2" action="/avaliar/{{lista.id_solicitacao}}" method="POST">
                                        <strong><label>Como você avalia nosso atendimento?</label></strong>

                                            <div class="icones_avaliacao">
                                                <button class="btn_avaliacao" name="avaliacao" value="1"> <img src="../static/img/avaliacao_pessimo.svg" alt="emoji pessimo" class="img_avaliacao" id="filter_branco"> </button>
                                                <button class="btn_avaliacao" name="avaliacao" value="2"> <img src="../static/img/avaliacao_regular.svg" alt="emoji regular" class="img_avaliacao" id="filter_branco"> </button>
                                                <button class="btn_avaliacao" name="avaliacao" value="3"> <img src="../static/img/avaliacao_bom.svg" alt="emoji bom" class="img_avaliacao" id="filter_branco"> </button>
                                                <button class="btn_avaliacao" name="avaliacao" value="4"> <img src="../static/img/avaliacao_otimo.svg" alt="emoji ótimo" class="img_avaliacao" id="filter_branco"> </button>
                                            </div>
                                    </form>


                                {% else %}
                                    <form class="formavaliacao2" action="/avaliar/{{lista.id_solicitacao}}" method="POST">
                                        <strong><p>Você avaliou como:</p></strong>
                                        <br>
                                        {% if lista.fk_id_avaliacao == 1 %}
                                        <p>Péssimo</p>
                                        {% elif lista.fk_id_avaliacao == 2 %}
                                        <p>Regular</p>
                                        {% elif lista.fk_id_avaliacao == 3 %}
                                        <p>Bom</p>
                                         {% elif lista.fk_id_avaliacao == 4 %}
                                        <p>Ótimo</p>
                                        {% endif %}
                                    </form>
                                {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>
        <p>DESENVOLVIDO POR WHATSCODE</p>
    </footer>
</body>
</html>