@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292A2F;
    min-height: 100%;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9%;
    background-color: #AE1414;
    padding: 0.3% 1.5%;
}

#header-nome-usuario {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

@media only screen and (max-width: 600px) {
    #header-nome-usuario {
        font-size: 4vw;
    }
}

/*NAV BAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.1s;
}

@media screen and (max-width: 600px) {
    .sidenav a {
        font-size: 4.5vw;
    }
}

.sidenav a:hover {
    color: #666666;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {
    .sidenav .closebtn {
        font-size: 8vw;
    }
}

.icon_nav_style {
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    padding-bottom: 0.4%;
}

@media screen and (max-width: 600px) {
    .icon_nav_style {
        font-size: 6vw;
    }
}

.hr_black {
    color: black;
}


/* FIM DA NAVBAR*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 38px;
}

@media only screen and (max-width: 600px) {
    main {
        padding-top: 5%;
    }
}

.pesquisa {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 3%;
}

#pesquisa-campo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 8px 31px;
}

@media only screen and (max-width: 600px) {
    #pesquisa-campo {
        padding: 1.5vw 5vw;
    }
}

input {
    border: none;
    outline: 0px;
    width: 100%;
    background-color: transparent;
    color: #CCCCCC;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    input {
        font-size: 4vw;
    }
}

.pesquisa-lupa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

#pesquisa-img {
    height: 30px;
}

@media only screen and (max-width: 600px) {
    #pesquisa-img {
        height: 5vw;
    }
}

.seletor-chamados {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-bottom: 3%;
}

#seletor-botao {
    display: flex;
    width: 97%;
    justify-content: center;
    gap: 20%;
}

#botao {
    width: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    #botao {
        width: 30%;
    }
}

#botao-aberto {
    background-color: #FF4343;
    border-radius: 50px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #botao-aberto {
        font-size: 3vw;
    }
}

#botao-fechado {
    color: black;
    background-color: #6CEC90;
    border-radius: 50px;
    width: 100%;

}

@media only screen and (max-width: 600px) {
    #botao-fechado {
        font-size: 3vw;
    }
}

#detalhe-chamados {
    display: flex;
    width: 90%;
    justify-content: center;
}

details {
    display: flex;
    height: 100%;
    width: 100%;
}

summary {
    display: flex;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    summary {
        flex-direction: column;
    }
}

.chamados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .chamados {
        border-radius: 35px;
    }
}

.chamados-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1.4%;
}

.chamados-itens-aberto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #FF4343;
    width: 97.1%;
    padding: 10px 27px;
    margin-bottom: 1.4%;
    border-radius: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .chamados-itens-aberto {
        font-size: 3.5vw;
        justify-content: center;
        padding: 1vw 2.5vw;
        width: 96%;
        margin-bottom: 1.8vw;
        border-radius: 30px;
    }
}

.chamados-itens-conteudo-aberto {
    display: flex;
    flex-direction: column;
    padding: 1% 0px;
    margin-top: 1%;
    border-top: 2px solid #cc0000;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .chamados-itens-conteudo-aberto {
        text-align: center;

    }
}

.resposta-link{
    margin: auto;
    margin-bottom: 0.5%;
    padding: .5rem 1rem;
    text-align: center;
    width: 20%;
    border-radius: 50px;
    background-color: #6CEC90;
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


.recusa-link{
    margin: auto;
    margin-bottom: 0.5%;
    padding: .5rem 1rem;
    text-align: center;
    width: 20%;
    border-radius: 50px;
    background-color: #AE1414;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

a.resposta-link:hover{
    color: #000000;
}

a.recusa-link:hover{
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .resposta-link {
        width: 40%;
        font-size: 3vw;
    }

    .recusa-link {
        width: 40%;
        font-size: 3vw;
    }

}

.chamados-itens-fechado {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6CEC90;
    width: 97%;
    padding: 10px 27px;
    margin-bottom: 1.4%;
    border-radius: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .chamados-itens-fechado {
        font-size: 3.5vw;
        justify-content: center;
        padding: 1vw 2.5vw;
        width: 96%;
        margin-bottom: 1.8vw;
        border-radius: 30px;
    }
}

.chamados-itens-conteudo-fechado {
    display: flex;
    flex-direction: column;
    padding: 1% 0px;
    margin-top: 1%;
    border-top: 2px solid #52b86f;
    text-align: left;
}


@media only screen and (max-width: 600px) {
    .chamados-itens-conteudo-fechado {
        text-align: center;
    }
}

footer {
    margin-top: auto;
    font-family: 'Monda';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.58);
    opacity: 0.2;
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 3vw;
    }
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
   background-color: #FFFFFF;
   width: 60%;
   min-width: 300px;
   height: auto;
   padding: 40px;
   border: 10px solid #AE1414;
   border-radius: 20px;
   position: relative;
   display: block;
}

.modal h3{
    font-family: 'Roboto';
}

.modal textarea{
    width: 100%;
    height: 150px;
    resize: none;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate(0, -60px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.modal-container.mostrar{
    display: flex;
}

.mostrar .modal{
    animation: modal 0.3s;
}