@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none; 

}

.fundo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 100%;
    min-height: 100%;
    background-color: #292A2F;
}

html{
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: #292A2F;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #AE1414;
    padding: 0.3% 1.5%;
    margin-bottom: 20px;
}

#header-nome-usuario {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    #header-nome-usuario {
        font-size:16px;
    }
    header{
        height: 50px;
    }
}

main{
    width: 100%;
    height: 100%;
}

.grafico-bar {
    width: 70%;
    height: 70%;
    margin: 3%;
}

.grafico-pie {
    width: 40%;
    height: 40%;
    margin: 3%;
}

.footer {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.linha-footer {
    background-color: #AE1414;
    border: none;
    height: 0.4vw;
}

.footer-titulo {
    color: #DDD;
    font-family: 'PT Sans';
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


/*NAV BAR */

.sidenav {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.1s;
}

@media screen and (max-width: 600px) {
.sidenav a {
font-size: 16px;
}
}

.sidenav a:hover {
    color: #666666;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {                
    .sidenav .closebtn {
        font-size: 25px;
    }
}

.icon_nav_style{
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    padding-bottom: 0.4%;
}
@media screen and (max-width: 600px) {                
    .icon_nav_style{
        font-size: 25px;
    }
}

#hr_black{
    color: black;
}


/* FIM DA NAVBAR*/


.relatorio_primeiro{
    margin: 2%;
}

.segundo{
    padding-top: 5%;
}

.table{
    background-color: #292A2F;
    color: #fff;
}

.titulo {
    color: #fff;
    font-size: 100%;
}

.titulo-geral {
    color: #fff;
    font-size: 120%;
    padding-top: 5%;
}

@media screen and (max-width: 380px) {                
    .titulo-geral {
        font-size: 15px;
        text-align: center;
    }    
  } 


.subtitulo {
    color: #fff;
    font-size: 100%;
    margin: 0%;
}

@media screen and (max-width: 440px) {                
    .titulo-avaliacao-geral {
        font-size: 15px;
        text-align: center;
    }
  }

.div-filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 440px) {                
    .div-filtro {
        flex-direction: column;
    }    
  } 

.filtro-operadores {
    width: 60%;
    height: 1%;
    background-color: #292A2F;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 6px;
}

.filtro-por-data {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.botao {
    color: #fff;
    background-color: #292A2F;
    border: #fff solid 1px;
    border-radius: 6px;
    width: 90%;
}

.botao2 {
    color: #fff;
    background-color: #292A2F;
    border: #fff solid 1px;
    border-radius: 6px;
    width: 40%;
}

.botao:hover {
    color: rgba(255, 255, 255, 0.623);
    border: rgba(255, 255, 255, 0.623) solid 1px;
}


.form-filtro-operador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}


.linha-meio {
    width: 80%;
    height: 0.4vw;
    background-color: #fff;
    border: none;
}

.div-grafico-geral {
    padding-top: 5%;
}

#data_inicio, #data_fim {
    background-color: #292A2F;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.form-filtro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    width: 50%;
    height: 100%;
    padding-top: 2%;
}