@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none; 

}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 100%;
    min-height: 100%;
    background-color: #292A2F;
}

html{
    min-height: 100%;
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9%;
    background-color: #AE1414;
    padding: 0.3% 1.5%;
}

main{
    width: 100%;
    height: 100%;
}

.grafico {
    width: 70%;
    height: 70%;
    margin: 3%;
}

.grafico-avaliacoes {
    width: 40%;
    height: 40%;
    margin: 3%;
}

.footer {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.linha-footer {
    background-color: #AE1414;
    border: none;
    height: 0.4vw;
}

.footer-titulo {
    color: #DDD;
    font-family: 'PT Sans';
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/*NAV BAR */

.sidenav {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.1s;
}

 @media screen and (max-width: 600px) {                
    .sidenav a {
        font-size: 4.5vw;
    }
}

.sidenav a:hover {
    color: #666666;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {                
    .sidenav .closebtn {
        font-size: 8vw;
    }
}

.icon_nav_style{
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    padding-bottom: 0.4%;
}
@media screen and (max-width: 600px) {                
    .icon_nav_style{
        font-size: 6vw;
    }
}

#hr_black{
    color: black;
}


/* FIM DA NAVBAR*/

.relatorio_primeiro{
    margin: 2%;
}

.segundo{
    padding-top: 5%;
}

.table{
    background-color: #292A2F;
    color: #fff;
}

.titulo {
    color: #fff;
    font-size: 100%;
    padding-top: 5%;
}








