@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;    
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size:100%;
    background: #292A2F;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9%;
    background-color: #AE1414;
    padding: 0.3% 1.5%;
}


/*NAV BAR */

.sidenav {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.1s;
}

 @media screen and (max-width: 600px) {                
    .sidenav a {
        font-size: 4.5vw;
    }
}

.sidenav a:hover {
    color: #666666;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {                
    .sidenav .closebtn {
        font-size: 8vw;
    }
}

.icon_nav_style{
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    padding-bottom: 0.4%;
}
@media screen and (max-width: 600px) {                
    .icon_nav_style{
        font-size: 6vw;
    }
}

#hr_black{
    color: black;
}


/* FIM DA NAVBAR*/


  
.titulo {
    font-size: 150%;
    font-family: 'roboto';
    color:#DDD
}

.titulo-solucao {
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-family: 'roboto';
    color:#DDD
}

.geral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;
    width: 70%;
}

.nome-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.desc-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 8%;
    width: 100%;
}

@media only screen and (max-width: 936px) {
    .desc-principal {
        flex-direction: column;
    }
}

.desc-pedido {
    display: flex;
    flex-direction: column;
    width: 60%;
}

@media only screen and (max-width: 936px) {
    .desc-pedido {
        width: 100%;
    }
}

.desc-anexo {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 936px) {
    .desc-anexo {
        width: 60%;
    }
}

.texto-anexo {
    color: #292A2F; 
    font-size: 150%;
}

@media only screen and (max-width: 936px) {
    .texto-anexo {
        font-size: 3vw;
    }
}

.solucao-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
}

.caixa-texto-nome {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: 'roboto';
    font-size: 16px;
    outline: 0px;
}

.caixa-texto-desc {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: 'roboto';
    font-size: 16px;
    outline: 0px;
}

.caixa-texto-solucao {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: 'roboto';
    font-size: 16px;
    outline: 0px;
}

textarea {
    height: 300px;
    resize: none;
}

.botao {
    background: #AE1414;
    color: #DDD;
    border-radius: 15px;
    border: #AE1414;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}

.botao:hover {
    background: #A01111;
    cursor: pointer;
}

.footer {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.linha-footer {
    background-color: #AE1414;
    border: none;
    height: 0.4vw;
}

.footer-titulo {
    color: #DDD;
    font-family: 'Monda';
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}